.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.login-page > button {
    background: rgb(31, 137, 199);
    color: white;
    border: 0px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 5px #888888;    
}

.login-page > button:hover { 
    cursor: pointer;
    background: rgb(26, 102, 146);
}

.login-page > button:active {
    background: black;
}