.room-user {
    display: flex;
    align-items: center;
    cursor: default;
}


.room-users {
    padding: 15px;
    padding-top: 0px;
}

.remove-user-icon {
    width: 1rem;
    margin-left:auto;
}

.remove-user-icon:hover {
    cursor: pointer;
}