.room-user {
    display: flex;
    align-items: center;
    cursor: default;
}

.room-users-title {
    margin-bottom: -10px;
}

.remove-user-icon {
    width: 1rem;
    margin-left:auto;
}

.remove-user-icon:hover {
    cursor: pointer;
}

.add-user-section {
    text-align: center;
}


.chat-settings-buttons {
    display: flex;
    gap: 10px;
    
}

.chat-settings-button, .new-room-submit-button { 
    background:#2492FF;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
}

.chat-settings-button:hover, .new-room-submit-button:hover {
    cursor: pointer;
    background: rgb(26, 102, 146);
}

.chat-settings-button:active, .new-room-submit-button:active {
    background: rgb(0, 0, 0);
}