.sidebar {
    display: grid;
    padding: 0px;
    grid-column: 1/1;
    border-right: 1px solid #ccc;
    padding: 5px;
}

.personal {
    display: flex;
    align-items: center;
    gap: 5px;
}

a {
    text-decoration: none;
    color: black;
}


.personal-avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.personals-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.rooms {
    border-top: 1px solid #ccc;

}
.rooms-title, .personals-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.room {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;

}

.room:hover, .personal:hover {
    cursor: pointer;
    background:rgb(243, 242, 242);
}

.room-settings-icon {
    width: 1em;
    margin-left:auto;
}

.room-avatar {
    border-radius: 10%;
    background:#2492FF;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.room > *, .personal > * {
    pointer-events: none;
}
.room > i {
    color: #ccc;
}

.new-personal, .new-room {
    background: transparent;
    border: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.new-personal > img, .new-room > img {
    width: 20px;
    pointer-events: none;
}

.new-personal:hover, .new-room:hover {
    cursor: pointer;
    background:rgb(243, 242, 242);
}

.new-room-modal {
    position: absolute;
    top: 500px;
    left: 240px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #ccc;
    padding: 10px;
    gap: 10px;

}

.new-personal-modal {
    position: absolute;
    top: 80px;
    left: 240px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #ccc;
    padding: 10px;
    gap: 10px;
}

.new-room-form, .new-personal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .rooms, .personals {
        width: 100vw;
        flex-direction: column;
    }
}